In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [2]:
df=pd.read_csv("marketing_AB(1).csv")

In [3]:
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [4]:
df.shape

(588101, 7)

In [5]:
df.nunique()

Unnamed: 0       588101
user id          588101
test group            2
converted             2
total ads           807
most ads day          7
most ads hour        24
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     588101 non-null  int64
 1   user id        588101 non-null  int64
 2   test group     588101 non-null  object
 3   converted      588101 non-null  bool
 4   total ads      588101 non-null  int64
 5   most ads day   588101 non-null  object
 6   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(4), object(2)
memory usage: 27.5+ MB

In [7]:
df.describe()

          Unnamed: 0       user id      total ads  most ads hour
count  588101.000000  5.881010e+05  588101.000000  588101.000000
mean   294050.000000  1.310692e+06      24.820876      14.469061
std    169770.279667  2.022260e+05      43.715181       4.834634
min         0.000000  9.000000e+05       1.000000       0.000000
25%    147025.000000  1.143190e+06       4.000000      11.000000
50%    294050.000000  1.313725e+06      13.000000      14.000000
75%    441075.000000  1.484088e+06      27.000000      18.000000
max    588100.000000  1.654483e+06    2065.000000      23.000000

In [8]:
#df.query('`test group`=="ad"')
df_a=df[df['test group']=="ad"]
df_a

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14
...,...,...,...,...,...,...,...
588096,588096,1278437,ad,False,1,Tuesday,23
588097,588097,1327975,ad,False,1,Tuesday,23
588098,588098,1038442,ad,False,3,Tuesday,23
588099,588099,1496395,ad,False,1,Tuesday,23
588100,588100,1237779,ad,False,1,Tuesday,23

In [9]:
df_b=df[df['test group']=="psa"]
df_b

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
18,18,900681,psa,False,248,Saturday,19
38,38,905704,psa,False,27,Thursday,8
68,68,904595,psa,False,13,Tuesday,19
140,140,901904,psa,False,32,Wednesday,19
157,157,902234,psa,False,105,Tuesday,19
...,...,...,...,...,...,...,...
588052,588052,900959,psa,False,16,Tuesday,22
588063,588063,902828,psa,False,3,Tuesday,22
588066,588066,914578,psa,False,1,Tuesday,22
588069,588069,909042,psa,False,6,Tuesday,22
588081,588081,904721,psa,False,16,Tuesday,23

In [10]:
df.converted.mean()*100

2.523886203220195

In [11]:
df_a.converted.mean()*100

2.5546559636683748

In [12]:
df_b.converted.mean()*100

1.785410644448223

In [13]:
df['converted'].mean()

0.02523886203220195

In [14]:
1-df['converted'].mean()

0.9747611379677981

In [15]:
ad_converted = np.random.binomial(len(df_a), df.converted.mean(), 10000) / len(df_a)

In [16]:
ad_converted
#ad_converted.shape

array([0.02519763, 0.0253039 , 0.0250577 , ..., 0.02514626, 0.02521534,
       0.02535704])

In [17]:
psa_converted = np.random.binomial(len(df_b), df.converted.mean(), 10000) / len(df_b)

In [18]:
p_diffs =ad_converted-psa_converted
p_diffs

array([-0.0005633 ,  0.00018062, -0.00236111, ...,  0.00040557,
       -0.00012049,  0.00150905])

In [20]:
p_diffs.mean()

-3.477549652654882e-06

In [21]:
ab_data_diff = df_a.converted.mean()-df_b.converted.mean()
ab_data_diff

0.007692453192201517

In [22]:
(p_diffs > ab_data_diff).mean()*100

0.0

#
 از لحاظ آماری معنا دارد چون صفر شده است.
 پس اثر داشته است
# From a statistical perspective, it is significant because it has become zero.

In [23]:
(p_diffs < ab_data_diff).mean()*100

100.0